:root {
  --pr-font-cursive: cursive;
  --pr-font-monospace: "Courier New", monospace;
  --pr-font-fantasy:fantasy;
  --pr-font-heebo: "Heebo", sans-serif;
  --pr-bd-font-family: var(--pr-font-cursive);
  --pr-bd-font-size: 16px;
  --pr-bd-font-weight: 400;
  --pr-bd-line-height: 1.5;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  text-shadow: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--pr-bd-font-size);
  line-height: var(--pr-bd-line-height);
  font-weight: var(--pr-bd-font-weight);
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

h1 {
  font-family: var(--pr-font-cursive);
  color: #232937;
  font-size: 36px;
  line-height: 38px;
}

h2 {
  font-size: 36px;
  line-height: 38px;
  font-family: var(--pr-font-monospace);
  padding-bottom: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "";
  background: #f8bf01;
  height: 3px;
  width: 45px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

p {
  color: #000;
  font-family: var(--pr-font-cursive);
  font-size: var(--pr-bd-font-size);
  line-height: 30px;
  font-weight: var(--pr-bd-font-weight);
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pos-relative {
  position: relative;
}

.f-0 {
  font-size: 0;
}

.di-block {
  display: inline-block;
  vertical-align: top;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.about {
  padding: 80px 0 100px;
}
.about .di-block:nth-child(2) {
  padding-left: 100px;
}
.about .highlight {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  min-height: 110px;
  position: relative;
  box-sizing: border-box;
}
.about .highlight:nth-child(odd):after {
  content: "";
  background: #ebebeb;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.about .highlight:nth-child(1), .about .highlight:nth-child(3) {
  padding-right: 100px;
}
.about .highlight:nth-child(2), .about .highlight:nth-child(4) {
  padding-left: 100px;
}
.about .highlight:nth-child(1)::before, .about .highlight:nth-child(2)::before {
  content: "";
  background: #ebebeb;
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.gray {
  background: #f5f9fc;
  padding: 40px 0 50px;
}
.gray h2 {
  text-align: center;
}
.gray h2::after {
  left: auto;
}/*# sourceMappingURL=style.css.map */