:root {
  --pr-font-cursive: cursive;
  --pr-font-monospace: "Courier New", monospace;
  --pr-font-fantasy:fantasy;
  --pr-font-heebo: "Heebo", sans-serif;
  --pr-bd-font-family: var(--pr-font-cursive);
  --pr-bd-font-size: 16px;
  --pr-bd-font-weight: 400;
  --pr-bd-line-height: 1.5;
  --pr-font-gilroylight: Gilroy-Light;
  --pr-font-gilroyregular: Gilroy-Regular;
  --pr-font-gilroybold: Gilroy-Bold;
  --pr-font-gilroyextrabold: Gilroy-ExtraBold;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../assets/fonts/Gilroy-Light.eot);
  src: url(../assets/fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Gilroy-Light.svg#Gilroy-Light) format("svg"), url(../assets/fonts/Gilroy-Light.ttf) format("truetype"), url(../assets/fonts/Gilroy-Light.otf) format("opentype"), url(../assets/fonts/Gilroy-Light.woff) format("woff"), url(../assets/fonts/Gilroy-Light.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(../assets/fonts/Gilroy-Regular.eot);
  src: url(../assets/fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Gilroy-Light.svg#Gilroy-Regular) format("svg"), url(../assets/fonts/Gilroy-Regular.ttf) format("truetype"), url(../assets/fonts/Gilroy-Regular.otf) format("opentype"), url(../assets/fonts/Gilroy-Regular.woff) format("woff"), url(../assets/fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../assets/fonts/Gilroy-Bold.eot);
  src: url(../assets/fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Gilroy-Light.svg#Gilroy-Bold) format("svg"), url(../assets/fonts/Gilroy-Bold.ttf) format("truetype"), url(../assets/fonts/Gilroy-Bold.otf) format("opentype"), url(../assets/fonts/Gilroy-Bold.woff) format("woff"), url(../assets/fonts/Gilroy-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(../assets/fonts/Gilroy-ExtraBold.eot);
  src: url(../assets/fonts/Gilroy-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Gilroy-ExtraBold.svg#Gilroy-Bold) format("svg"), url(../assets/fonts/Gilroy-ExtraBold.ttf) format("truetype"), url(../assets/fonts/Gilroy-ExtraBold.otf) format("opentype"), url(../assets/fonts/Gilroy-ExtraBold.woff) format("woff"), url(../assets/fonts/Gilroy-ExtraBold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  text-shadow: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--pr-bd-font-size);
  line-height: var(--pr-bd-line-height);
  font-weight: var(--pr-bd-font-weight);
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

h1 {
  font-family: var(--pr-font-cursive);
  color: #232937;
  font-size: 36px;
  line-height: 38px;
}

h2 {
  font-size: 36px;
  font-family: var(--pr-font-gilroylight);
  font-weight: 100;
  line-height: 38px;
  padding-bottom: 18px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
}
h2::after {
  content: "";
  background: #f8bf01;
  height: 3px;
  width: 45px;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

p {
  color: #000;
  font-family: var(--pr-font-gilroylight);
  font-size: var(--pr-bd-font-size);
  line-height: 30px;
  font-weight: var(--pr-bd-font-weight);
}

.responsive-iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pos-relative {
  position: relative;
}

.f-0 {
  font-size: 0;
}

.di-block {
  display: inline-block;
  font-size: initial;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.owl-carousel .owl-item img {
  max-width: 100%;
  width: auto;
}

.rank .di-block {
  vertical-align: middle;
  padding: 0px 10px;
}
.rank .di-block .r-box {
  min-height: 180px;
  padding: 14px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 19.44px 4.56px rgba(0, 0, 0, 0.05);
}
.rank .di-block .r-box .thumbnail {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  text-align: center;
  position: relative;
}
.rank .di-block .r-box .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rank .di-block .r-box p {
  color: #646464;
  font-family: var(--pr-font-gilroylight);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  min-height: 55px;
}

.corporate {
  padding: 75px 0 10px;
}
.corporate h2 {
  text-align: center;
}
.corporate h2::after {
  left: 50%;
  transform: translateX(-50%);
  margin-left: -120px;
}
.corporate .thumbnail {
  height: 92px;
  position: relative;
}
.corporate .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about {
  padding: 75px 0 75px;
}
.about .di-block {
  font-size: inherit;
  vertical-align: top;
  margin-bottom: 25px;
}
.about .di-block:nth-child(1) p {
  max-width: 373px;
}
.about .di-block:nth-child(2) {
  padding-left: 100px;
}
.about .highlight {
  display: inline-block;
  font-size: initial;
  vertical-align: top;
  width: 50%;
  min-height: 110px;
  position: relative;
  box-sizing: border-box;
}
.about .highlight:nth-child(odd):after {
  content: "";
  background: #ebebeb;
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.about .highlight:nth-child(1), .about .highlight:nth-child(3) {
  padding-right: 35px;
}
.about .highlight:nth-child(2), .about .highlight:nth-child(4) { /*padding-left: 100px;*/
  padding-left: 21%;
}
.about .highlight:nth-child(1), .about .highlight:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 30px;
}
.about .highlight:nth-child(3), .about .highlight:nth-child(4) {
  padding-top: 30px;
  padding-bottom: 10px;
}
.about .highlight:nth-child(1)::before, .about .highlight:nth-child(2)::before {
  content: "";
  background: #ebebeb;
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.about .highlight p {
  color: #232937;
  font-family: var(--pr-font-gilroybold);
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  line-height: 30px;
}
.about .highlight p:first-child {
  font-size: 36px;
  margin-bottom: 5px;
}
.about .highlight p:first-child span {
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}

.gray {
  background: #f5f9fc;
  padding: 40px 0 50px;
}
.gray h2 {
  text-align: center;
}
.gray h2::after {
  left: 50%;
  transform: translateX(-50%);
  margin-left: -94px;
}
.gray .accredit-carousel .owl-item .item {
  border-right: 1px solid #e9eaeb;
  text-align: center;
}
.gray .accredit-carousel .owl-item .item .thumbnail {
  position: relative;
}
.gray .accredit-carousel .owl-item .item .thumbnail img {
  display: inline-block;
  vertical-align: middle;
}

footer {
  background: #232937;
  padding: 30px 0;
}
footer p {
  color: #efffff;
  font-family: var(--pr-font-gilroylight);
  font-size: 14px;
  text-align: left;
}
footer .social-icons {
  text-align: right;
}
footer .social-icons li {
  display: inline-block;
  font-size: initial;
  vertical-align: middle;
  margin-right: 14px;
}
footer .social-icons li span {
  color: #efffff;
  font-family: var(--pr-font-gilroylight);
  font-size: 14px;
  text-align: left;
}
footer .social-icons li a {
  display: inline-block;
  font-size: initial;
  vertical-align: middle;
}

@media only screen and (max-width: 1190px) {
  .about .highlight {
    min-height: 140px;
  }
}
@media only screen and (max-width: 1005px) {
  .rank .di-block .r-box {
    min-height: 200px;
  }
}
@media only screen and (max-width: 834px) {
  .rank .di-block .r-box {
    min-height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .rank .di-block {
    width: 50%;
    margin-bottom: 30px;
  }
  .rank .di-block .r-box {
    min-height: 180px;
  }
  .about .di-block {
    width: 100%;
  }
  .about .di-block:nth-child(1) p {
    max-width: 100%;
  }
  .about .di-block:nth-child(2) {
    padding-left: 0px;
  }
  footer .w-50 {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .rank .di-block {
    width: 100%;
  }
  .rank .di-block .r-box p {
    min-height: auto;
  }
}/*# sourceMappingURL=style.css.map */