@media only screen and (max-width:1462px) {
    .learner {
        .learners-carousel {
            .item {
                .learner-text {
                    min-height: 330px;
                }
            }
        }
    }
}

@media only screen and (max-width:1279px) {
    .learner {
        .learners-carousel {
            .item {
                .learner-text {
                    min-height: 355px;
                }
            }
        }
    }
}

@media only screen and (max-width:1199px) {}

@media only screen and (max-width:1190px) {
    .about {
        .highlight {
            min-height: 140px;
        }
    }
}

@media only screen and (max-width:1156px) {}

@media only screen and (max-width:1148px) {
    .rank {
        .rank-carousel {
            .box {
                .r-box {                    
                    min-height: 210px;
                }
            }
        }

    }
}

@media only screen and (max-width:1135px) {
    .program-overview {
        .white-box {
            min-height: 475px;
        }
    }
}

@media only screen and (max-width:1087px) {
    .learner {
        .learners-carousel {
            .item {
                .learner-text {
                    min-height: 403px;
                }
            }
        }
    }
}

@media only screen and (max-width:1085px) {
    .program-overview {
        .white-box {
            min-height: 495px;
        }
    }
}

// @media only screen and (max-width:1034px) {
//     .program-overview {
//         .white-box {
//             min-height: 494px;
//         }
//     }
// }

@media only screen and (max-width:1023px) {}

@media only screen and (max-width:1020px) {
    .learner {
        .learners-carousel {
            .item {
                .learner-text {
                    min-height: 430px;
                }
            }
        }

    }
}

// @media only screen and (max-width:1005px) {
//     .rank {
//         .rank-carousel {
//             .box {
//                 .r-box {
//                     min-height: 200px;                    
//                 }
//             }
//         }

//     }
// }

@media only screen and (max-width:995px) {
    .program-overview {
        .white-box {
            min-height: 515px;
        }
    }
}

@media only screen and (max-width:991px) {
    .enquire-now {
        // display: block;
        display: none;
    }

    .top-banner {
        background-image: none;
        background-position: unset;

        .container {
            padding: 0;
        }

        .di-block {

            &:first-child,
            &:nth-child(2) {
                width: 100%;
            }

            &:first-child {}

            &:nth-child(2) {
                padding-top: 0;
            }
        }

        .text-box {
            padding: 4% 0 2%;
            background-image: none;

            h1,
            h2 {
                text-align: center;
            }

            h1 {
                &::after {
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                    margin-left: 150px;
                }
            }

            p {
                text-align: center;
                margin: 5px 0 10px;
                font-size: 30px;
                line-height: 40px;
            }

            .nacc {
                text-align: center;
                margin-top: 25px;
                margin-bottom: 0;
                line-height: 1;
            }

            .features {
                margin: 50px auto 0;

                .di-block {
                    margin-bottom: 40px;

                    img {}

                    .text-info {
                        p {
                            &:first-child {}
                        }
                    }
                }
            }
        }

        .enquire {
            padding-bottom: 0;

            .vis-mob {
                @include pos-relative();

                .hashtag {
                    color: $white;
                    font-size: 20px;
                    font-family: $font-family-gil-bd;
                    font-weight: normal;
                    text-align: center;
                    margin-bottom: 15px;
                    margin-top: 0;
                    position: absolute;
                    right: 0;
                    bottom: 24px;
                    margin-right: 16px;
                }

                img {}
            }

            .f-wrapper {
                background: #fff;
                padding: 0 15px 5px;
                margin-top: -24px;
                @include pos-relative();
                z-index: 1;

                &::before,
                &::after {
                    content: "";
                    background: $darkblue;
                    width: 15px;
                    height: 30px;
                    position: absolute;
                    top: 0;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }

                .form-wrapper {
                    @include border-radius(0);
                    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.06);
                    z-index: 1;
                }
            }


        }
    }



    .program-overview {
        .info {
            .more {
                display: none;
                line-height: 24px;
            }

            .toggle {
                display: block;
                margin: 20px auto 0;
            }
        }

        .white-box {
            min-height: auto;
            margin-bottom: 25px;
        }

        .pr-overview,
        .pr-highlight {
            width: 100%;
            padding: 0;
        }
    }

    .learner {
        .learners-container {
            padding: 50px 0;
        }


        .learners-carousel {
            .item {
                .learner-text {
                    min-height: 330px;
                }
            }
        }
    }


    .corporate {

        // padding: 50px 0 0;
        h2 {
            // &::after{
            //     margin-left: -90px;
            // }
        }
    }



    .about {
        padding: 50px 0;

        .di-block {
            width: 100%;

            &:nth-child(1) {
                padding: 0;

                p {
                    max-width: 100%;
                }
            }

            &:nth-child(2) {
                padding-left: 0px;
            }

            .highlight {

                &:nth-child(2),
                &:nth-child(4) {
                    padding-left: 16%;
                }
            }
        }
    }


    .gray {
        h2 {
            // &::after{
            //     margin-left: -70px;
            // }
        }

        .accredit-carousel {
            .owl-item {
                .item {
                    border-right: none;
                }
            }
        }
    }

    footer {
        margin-bottom: 75px;
    }



    .online {
        padding-top: 45px;

        .tabbed-content {
            .tab-item {
                .item-content {
                    .toggle {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }

            }

        }
    }

    .listpage {
        margin-bottom: 0;
    }



}


// @media only screen and (max-width:950px) {
//     .program-overview {
//         .white-box {
//             min-height: 512px;
//         }

//     }
// }

// @media only screen and (max-width:914px) {
//     .program-overview {
//         .white-box {
//             min-height: 530px;
//         }

//     }
// }

// @media only screen and (max-width:910px) {
//     .program-overview {
//         .white-box {
//             min-height: 555px;
//         }

//     }
// }

@media only screen and (max-width:886px) {
    .learner .learners-carousel .item .learner-text {
        min-height: 355px;
    }
}



// @media only screen and (max-width:871px) {
//     .program-overview {
//         .white-box {
//             min-height: 548px;
//         }
//     }
// }


@media only screen and (max-width:834px) {
    .rank {
        .di-block {
            .r-box {
                min-height: 220px;
            }
        }
    }

    .learner .learners-carousel .item .learner-text {
        min-height: 380px;
    }
}

// @media only screen and (max-width:808px) {
//     .program-overview {
//         .white-box {
//             min-height: 584px;
//         }
//     }
// }

@media only screen and (max-width:767px) {
    .rank {
        .di-block {
            width: 50%;
            margin-bottom: 30px;

            .r-box {
                min-height: 180px;
            }
        }
    }

    .program-overview {
        margin: 0 0 25px;

        .white-box {
            min-height: auto;
            margin-bottom: 25px;
        }

        .pr-overview,
        .pr-highlight {
            width: 100%;
            padding: 0;
        }

    }

    .mba{
        .tab-section{
            @include pos-relative();
            .navigation-arrow {
                width: 25px;
                display: inline-block;
                position: absolute;                
                top: 12px;
                background: #fff;
                padding: 5px 0;
                &.arrow-left{
                    left: 0;
                }
                &.arrow-right{
                    right: 0;
                }
                img {
                    width: 7px;
                  }
              }
              .cat-list{
                margin: 0 30px;
              }
        }
    }

    .learner .learners-carousel .item .learner-text {
        min-height: auto;
    }

    .about {
        .di-block {
            width: 100%;

            &:nth-child(1) {
                p {
                    max-width: 100%;
                }
            }

            &:nth-child(2) {
                padding-left: 0px;
            }
        }
    }

    footer {
        .w-50 {
            width: 100%;
        }
    }

}

@media only screen and (max-width:600px) {}

@media only screen and (max-width:575px) {
    header {
        .di-block {
            .thumbnail {
                max-width: 123px;

                img {
                    // width: 123px;
                }
            }

            .tel {
                img {
                    width: 18px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .top-banner {
        padding-top: 76px;

        .text-box {

            h1,
            h2 {
                font-size: 24px;
                line-height: 30px;
            }

            h1 {
                &::after {
                    margin-left: 110px;
                    background-size: 17px 16px;
                    top: 0;
                }
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }

            .nacc {
                font-size: 14px;
                line-height: 24px;
                margin-top: 25px;

                span {
                    font-size: 20px;
                }
            }

            .features {

                margin: 50px auto 0;

                .di-block {}
            }
        }

        .enquire {
            .vis-mob {
                .hashtag {
                    font-size: 16px;
                    position: absolute;
                    right: 0;
                    bottom: 24px;
                    margin-right: 16px;
                }
            }

            .f-wrapper {
                .form-wrapper {
                    p {
                        font-family: $font-family-gil-lt;
                        margin-bottom: 18px;
                    }

                    .input-group {
                        margin-bottom: 15px;
                    }

                    input[type="submit"] {
                        margin-top: 0;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .rank {
        padding: 45px 0 30px;

        h2 {
            margin-bottom: 10px;
        }

        .di-block {
            width: 100%;

            .r-box {
                p {
                    min-height: auto;
                }
            }
        }
        .rank-carousel{
            .box{
                .r-box{
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        min-height: auto;
                    }
                }
            }
        }
    }

    .program {}

    .program-overview {
        .heading {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 25px;
            padding-left: 20px;
        }

        .white-box {
            padding: 40px 18px;

            &::after {
                top: -8px;
                left: -4px;
            }
        }

        .pr-overview {
            .eligibility {
                h3 {
                    @extend .heading;
                }
            }
        }

        .pr-highlight {
            .highlight {
                h3 {
                    @extend .heading;
                }
            }
        }
    }

    .mba {
        h2 {
            // &::after{               
            //     margin-left: -110px;
            // }
        }

        .tab-section {
            .content-area {
                .accord-content {
                    padding: 20px 10px 48px;
                }
            }
        }
    }

    .learner {

        // .container-1180{
        //     padding: 40px 0;
        // }
        h2 {
            // &::after{
            //     margin-left: -118px;
            // }
            margin-bottom: 0;
        }



        .learners-carousel {
            padding: 0 15px;

            .item {
                .learner-text {
                    p {
                        &:first-child {
                            &::before {
                                left: -20px;
                            }
                        }
                    }

                }

            }
        }

    }


    .corporate {}

    .about {
        h2 {
            margin-bottom: 30px;
        }

        .di-block {
            &:nth-child(1) {
                margin-bottom: 50px;

                .para,
                .more {
                    font-size: 14px;
                    line-height: 24px;
                }

                .toggle {
                    margin: 30px auto 0;
                }
            }
        }

        .highlight {
            padding-left: 18px;
            padding-right: 18px;

            &:nth-child(1),
            &:nth-child(3) {
                padding-left: 18px;
                padding-right: 10px;
            }

            &:nth-child(2),
            &:nth-child(4) {
                padding-left: 35px;
                padding-right: 10px;
            }

            p {
                font-size: 16px;
                line-height: 22px;

                &:first-child {
                    font-size: 30px;
                    line-height: 30px;

                    span {
                        font-size: 30px;
                    }
                }
            }
        }

    }

    .gray {}




}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:400px) {
    .top-banner {
        .text-box {
            .features {
                max-width: 300px;
                margin: 30px auto 0;

                .di-block {
                    max-width: 150px;
                    width: 100%;
                    margin-bottom: 25px;

                    &:first-child {
                        margin-bottom: 25px;
                    }

                    &:nth-child(2) {
                        margin-bottom: 25px;
                    }

                    img {
                        max-width: 25px;
                    }

                    .text-info {
                        p {
                            font-size: 11px;
                            line-height: 16px;

                            &:first-child {
                                font-size: 12px;
                            }
                        }
                    }
                }

            }
        }
    }


}


@media only screen and (max-width:320px) {

    .mba {
        h2 {
            // &::after {
            //     margin-left: -90px;
            // }
        }

    }

    .learner {
        h2 {
            // &::after{
            //     margin-left: -100px;
            // }
        }
    }

    .corporate {
        h2 {
            // &::after {
            //     margin-left: -75px;
            // }
        }

    }

    .gray {
        h2 {
            // &::after {
            //     margin-left: -55px;
            // }
        }

    }

}