@mixin cf() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin transition {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin f-0{ 
    font-size: 0;
}
@mixin di-block {
    display: inline-block;
    vertical-align: top;
}