@font-face {
    font-family: 'Gilroy-Light';
    src: url(../assets/fonts/Gilroy-Light.eot);
    src: url(../assets/fonts/Gilroy-Light.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Gilroy-Light.svg#Gilroy-Light) format("svg"),
        url(../assets/fonts/Gilroy-Light.ttf) format("truetype"),
        url(../assets/fonts/Gilroy-Light.otf) format("opentype"),
        url(../assets/fonts/Gilroy-Light.woff) format("woff"),
        url(../assets/fonts/Gilroy-Light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../assets/fonts/Gilroy-Regular.eot);
    src: url(../assets/fonts/Gilroy-Regular.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Gilroy-Light.svg#Gilroy-Regular) format("svg"),
        url(../assets/fonts/Gilroy-Regular.ttf) format("truetype"),
        url(../assets/fonts/Gilroy-Regular.otf) format("opentype"),
        url(../assets/fonts/Gilroy-Regular.woff) format("woff"),
        url(../assets/fonts/Gilroy-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../assets/fonts/Gilroy-Bold.eot);
    src: url(../assets/fonts/Gilroy-Bold.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Gilroy-Light.svg#Gilroy-Bold) format("svg"),
        url(../assets/fonts/Gilroy-Bold.ttf) format("truetype"),
        url(../assets/fonts/Gilroy-Bold.otf) format("opentype"),
        url(../assets/fonts/Gilroy-Bold.woff) format("woff"),
        url(../assets/fonts/Gilroy-Bold.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(../assets/fonts/Gilroy-ExtraBold.eot);
    src: url(../assets/fonts/Gilroy-ExtraBold.eot?#iefix) format("embedded-opentype"),
        url(../assets/fonts/Gilroy-ExtraBold.svg#Gilroy-Bold) format("svg"),
        url(../assets/fonts/Gilroy-ExtraBold.ttf) format("truetype"),
        url(../assets/fonts/Gilroy-ExtraBold.otf) format("opentype"),
        url(../assets/fonts/Gilroy-ExtraBold.woff) format("woff"),
        url(../assets/fonts/Gilroy-ExtraBold.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    @include border-box();
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
    @include border-box();
}

a {
    text-decoration: none;
    outline: none;
    text-shadow: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

ul {
    // list-style: outside none none;
    // margin: 0;
    // padding: 0
    @include unordered-list();
}

li {
    margin: 0;
    padding: 0
}

.clearfix {
    @include cf();
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::placeholder {
    color: $black-gray;
    opacity: 1;
    font-family: $font-family-gil-rg;
}

body {
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
    @include border-box();
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box
    @include border-box();
}

.container-1180 {
    max-width: 1180px;
    margin: 0 auto;
}

h1 {
    font-family: $font-family-base;
    // font-family: $font-family-cursive;       
    //font-family: $font-family-monospace;
    //font-family: $font-family-code;
    //font-family: $font-family-basic;
    color: $darkgray;
    font-size: 36px;
    line-height: 38px;
}

h2 {
    font-size: 36px;
    // font-family: $font-family-base;
    // font-family: $font-family-code;
    //font-family: $font-family-basic;
    font-family: $font-family-gil-lt;
    font-weight: 100;
    line-height: 38px;
    padding-bottom: 18px;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;       
    &::after {
        content: "";
        background: $darkyellows;
        height: 3px;
        width: 45px;
        position: absolute;
        // left: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        animation: border-LeftToRight 3s infinite;
    }
}


h3 {
    color: $black;
    font-size: 30px;
    line-height: 30px
}

p {
    color: $black;
    // font-family: $font-family-base;
    font-family: $font-family-gil-lt;
    font-size: $font-size-base;
    line-height: 30px;
    font-weight: $font-weight-base;
}

.responsive-iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none
}

.pos-relative {
    position: relative;
}

.vis-mob {
    display: none;
}

.vis-desk {
    display: block;
}

.f-0 {
    @include f-0();
}

.di-block {
    @include di-block();
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.more{
    display: none;
    // font-size: 14px;
    font-size: $font-size-small;
    text-align: left;
    color: $darkgray;
    font-family: $font-family-gil-rg;
    @include transition();
}
.pointer-list{
    li{
        color: $white;
        font-size: 14px;
        font-family: $font-family-gil-rg;
        line-height: 18px;
        text-align: left;
        padding-left: 24px;
        margin-bottom: 20px;
        @include pos-relative();
        &:last-child{
            margin-bottom: 0;
        }    
        &::before{
            content: "";
            background: transparent url("../img/plus-sign.png") scroll no-repeat top left;
            height: 12px;
            width: 12px;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 2px;
        }
    }
    
}

//owl carousel common css
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 5px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: $darkblue;
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 5px;
    background: $yellow;
}

.owl-carousel .owl-item img {
    max-width: 100%;
    width: auto;
}

@media only screen and (max-width:1460px) {
    .container {
        padding: 0 15px;
    }
}

@media only screen and (max-width:1199px) {}

@media only screen and (max-width:991px) {
    .vis-desk {
        display: none;
    }

    .vis-mob {
        display: block;
    }

}

@media only screen and (max-width:575px) {
    h1,
    h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h2 {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    .more{
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (max-width:320px) {
    h1,
    h2 {
        font-size: 24px;
        line-height: 28px;
    }

}