:root{
    --#{$variable-prefix}font-cursive: #{inspect($font-family-cursive)};
    --#{$variable-prefix}font-monospace: #{inspect($font-family-monospace)};
    --#{$variable-prefix}font-fantasy:#{inspect($font-family-fantasy)};
    --#{$variable-prefix}font-heebo: #{inspect($font-family-heebo)};
    --#{$variable-prefix}font-opensans: #{inspect($font-family-opensans)};

    --#{$variable-prefix}bd-font-family: #{$font-family-base};
    --#{$variable-prefix}bd-font-size: #{$font-size};
    --#{$variable-prefix}bd-font-weight: #{$font-weight-normal};
    --#{$variable-prefix}bd-line-height: #{$line-height};
    // --#{$variable-prefix}bd-color: #{$body-color};

    --#{$variable-prefix}font-gilroylight: #{$font-family-gilory-light};
    --#{$variable-prefix}font-gilroyregular: #{$font-family-gilroy-regular};
    --#{$variable-prefix}font-gilroybold: #{$font-family-gilroy-bold};
    --#{$variable-prefix}font-gilroyextrabold: #{$font-family-gilory-extrabold};
}